<div class="login-body">
  <div class="login-container">
    <form id="login-form" class="login-form">
        <h2 class="login-title">Tienda Gamer</h2>
        <label for="username" id="login-username-label">Usuario/Email</label>
        <input type="text" id="username" name="username" placeholder="Usuario/Email" required autofocus/>
        <label for="password" id="login-password-label">Contraseña</label>
        <input type="password" id="password" name="password" autocomplete="on" placeholder="Contraseña" required />
        <span class="error-login">Usuario o contraseña incorrectos, intente nuevamente</span>
        <button id="login" type="submit">Ingresar</button>
    </form>  
    <a href="/api/session/github" class="github-link"></i> Iniciar con GitHub</a>
    <hr class="login-divider">
    <button id="registrate">Registrate</button>
  </div>
  <div class="logo-container">
    <img src="/images/inicio.jpg" alt="Login image Background">
  </div>
    

</div>
<script src="/js/login.js"></script>