<div>
  <header class="header-products">
      <a href="/products"><img src="/images/icono.jpg" alt="Business logo"></a>
  </header>
  <div class="success_container" data-id='{{ticketId}}'>

  </div>
  <div class="btn-back-container">
    <button class="success-back">Home</button>
  </div>

</div>

<script src="/js/paymentSuccess.js"></script>
